.discover {
  padding: 80px 0;
  &__row {
    display: flex;
    column-gap: 30px;
    align-items: flex-start;
  }
  &__left {
    width: 50%;
  }
  &__title {
    color: var(--white, #FFF);
    font-size: 67px;
    font-weight: 600;
    line-height: 110%;
    text-transform: capitalize;
  }
  &__text {
    color: var(--white, #FFF);
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    margin: 20px 0 30px;
  }
  &__counts {
    display: flex;
    column-gap: 30px;
    align-items: center;
  }
  &__count {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      color: var(--white, #FFF);
      font-size: 23.99px;
      font-weight: 400;
      text-transform: capitalize;
      span {
        font-family: "space mono",sans-serif;
        font-size: 28px;
        font-weight: 700;
        margin-top: 30px;
      }
    }
  &__right {
    width: 50%;
    background: #3B3B3B;
    border-radius: 20px;
    &-img {
      width: 100%;
    }
    &-content {
      padding: 20px;
    }
    &-title {
      color: #FFF;
      font-size: 22px;
      font-weight: 600;
      line-height: 140%;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
     &-user {
      display: flex;
      align-items: center;
       column-gap: 12px;
      color: #FFFFFF;
    }
  }
}