.top{
  &__row{
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
  }
  &__conts{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #3B3B3B;
    position: relative;
    margin-bottom: 30px;
    width: 250px;
    height: 270px;
  }
  &__text{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 17px;
    top: 18px;
    border-radius: 50%;
    background: var(--background, #2B2B2B);
    text-align: center;
  }
  &__title{
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
  }
  &__title-1 {
    color: var(--caption-label-text, #858584);
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    margin-bottom: 20px;

  }
  &__title-2{
    color: var(--text, #FFF);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    margin-bottom: 20px;
  }
  &__cont{
    display: flex;
    column-gap: 6px;
  }
  &__nav {
    display: flex;
    column-gap: 59%;

  }
  &__top1 {
    color: var(--white, #FFF);
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;

  }
  &__top2 {
    color: var(--white, #FFF);
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    margin-bottom: 60px;
  }
}