.works {
  padding: 80px 0;
  &__title {
    color: var(--white, #FFF);
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
  }
  &__text {
    color: var(--white, #FFF);
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    padding: 10px 0 48px;
  }
  &__row {
    display: flex;
    column-gap: 30px;
  }
  &__card {
    border-radius: 20px;
    background: var(--background-secondary, #3B3B3B);
  }
  &__nav {
    padding: 10px 30px 30px;
  }
  &__title-1 {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    padding: 20px 0 10px;
  }
  &__text-1 {
  color: var(--white, #FFF);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  }
}